.jumbotron {
    background-size: cover;
    background-image: url(https://images.unsplash.com/photo-1517448988499-4cdc5bbde64c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
    border-bottom: 250px;
    padding-top: 150px;
    padding-right: 250px;
    max-height: 250px;
        
}
.jumboText {
    color: whitesmoke;
    font-weight: 900;
    text-shadow: 3px 0 0 rgb(0, 0, 0), -3px 0 0 black, 0 3px 0 black, 0 -2px 0 black, 2px 2px black, -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black;
    font-family: 'Times New Roman', Times, serif;

}

body {
    /* border: 20px; */
    /* background-color: lightskyblue; */
    background-image: url(https://images.unsplash.com/photo-1547083723-7c73eaf54cc6?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
    background-size: cover;

}
.input-group-text {
    background-color: rgb(111, 189, 189);
    color: azure;
    width: 160px;
    border-color: rgb(62, 107, 107);
    border-width: 2px;
}
.mb-0 {
    font-weight: 900;
}
.form-control {
    border-color: rgb(62, 107, 107);
    border-width: 1px;
}
.btn {
    border: black;
    border-width: 5px;
    border-style: solid;
    color: black;
}

.visual {
    box-sizing: content-box;
    /* height: 200px !important; */
}

